<!doctype html>
<html lang="fr">
    <!--commentaire-->
    <head>
    <!--head = entête technique non affichée-->
    
        <meta charset="utf-8"/>
        <title>Titre dans l'onglet et les résultats de recherche</title>
        <link rel="stylesheet" href="style.css" />
        <!-- stylesheet indique que c'est un fichier de style-->
        
    </head>
    <body>
        <header>
            <h1>Contacts</h1>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
        </header>
    </body>