.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.balon1,
.balon2 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.balon1 span {
    background: #42a5f5;
    color: #fff !important;
    border-radius: 20px 20px 3px 20px;
    display: block;
    max-width: 75vw;
    padding: 7px 13px 7px 13px;
}

.balon1:before {
    content: attr(data-is);
    position: absolute;
    right: 15px;
    bottom: -0.8em;
    display: block;
    font-size: .750rem;
    color: rgba(84, 110, 122, 1.0);
}

.balon2 span {
    background: #f1f1f1;
    color: #000 !important;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 75vw;
    padding: 7px 13px 7px 13px;
}

.balon2:before {
    content: attr(data-is);
    position: absolute;
    left: 13px;
    bottom: -0.8em;
    display: block;
    font-size: .750rem;
    color: rgba(84, 110, 122, 1.0);
}

.tchat-wrapper {
    padding-top: 70px;
    padding-bottom: 80px;
}

.message-box, .tchat-header {
    background-color: white;
}

.btn-custom {
    color: white;
    background-color: #42a5f5;
}

.btn-custom:hover {
    color: white;
    background-color: #2285d5;
}

.list-group-item {
    overflow-x: hidden;
}

.tchat-conversations {
    padding-top: 70px;
    width: 100%;
}

@media (min-width: 768px) {
    
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    
}